*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 32px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #40a5d7;
  }

.container {
  display: block;
  margin: 80px auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 800px;
  max-width: 80%;
  padding: 15px;
  background-color: white;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px, 0;
}

.btn{
  background-color: rgb(230, 243, 246);
  padding: 10px 15px;
  border-color: white;
  font-size: medium;
}

.btn:hover {
  border-color: rgb(21, 99, 226);
}

.strt-btn {
  color: white;
  background-color: green;
}

.strt-btn, .nxt-btn {
  font-size: medium;
  font-weight: bold;
  padding: 20px 25px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
